a {
    text-decoration: none;
    color: #fff;
}

.tytle {
    /* float: right; */
    /* display: flex; */
    justify-content: center;

    /* word-break: break-all; */
    font-size: medium;
    color: #fff;
    /* text-shadow:
        White glow
        0 0 7px #fff,
        0 0 10px #C33113,
        0 0 21px #C33113,
        0 0 42px #da3918,
        0 0 82px #ff2a00,
        0 0 92px #ff2a00,
        0 0 102px #ff2a00,
        0 0 151px #ff2a00; */
}

h5 {
    padding: 0.168rem;
}

.caja {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.box {
    margin: 1.168rem 1.168rem 0.8rem 0.6rem;
    margin-bottom: 1.68rem;
    width: 15rem;
    height: 50vh;
    background: rgba(21, 21, 22, 0.781);
    overflow: hidden;
    border-radius: 25px;
}

.image {
    width: 70%;
    min-height: 60%;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contend {
    font-size: auto;
    background-color: #28282B;
    border-radius: 5px;
    margin: 0.2rem;
    margin-bottom: 0%;
    display: -webkit-inline-flex;
}

.contend p {
    padding: 0.168rem;
    color: #fff;
    /* text-shadow:
        White glow
        0 0 7px #fff,
        0 0 10px #fff,

        0 0 42px #ff2a00,
        0 0 82px #ff2a00,
        0 0 92px #ff2a00,
        0 0 102px #ff2a00,
        0 0 151px #ff2a00; */

}