.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100vw;
    
}
.tytle{
    font-weight: bold;
    padding: 0.5548rem auto;
    padding-bottom: 0.5548rem;
    color: #fff;
    text-shadow:
        /* White glow */
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px #ff2a00,
        0 0 82px #ff2a00,
        0 0 92px #ff2a00,
        0 0 102px #ff2a00,
        0 0 151px #ff2a00;
}
.form {
    /* margin: 1.168rem 1.168rem 0.8rem 0.6rem; */
    margin: 0 auto;
    padding: 1em;
    /* margin-bottom: 1.68rem; */
    width: 85%;
    height: 85vh auto;
    background: rgba(21, 21, 22, 0.781);
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.label,
.legend {
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    text-shadow:
        /* White glow */
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px #ff2a00,
        0 0 82px #ff2a00,
        0 0 92px #ff2a00,
        0 0 102px #ff2a00,
        0 0 151px #ff2a00;
}
.labelcontend{
    margin: 0.7rem 1rem 8px 1rem;
}

.label {
    font-weight: bold;
    font-size: 1em;
    
    /* margin: 5px 1rem 8px 1rem; */
}
.description{
    /* font-size: 0.5em; */
    min-width: 50vw;
    max-width: 50vw;

    min-height: 10rem;
    max-height: 10rem;
}
.input{
    display: block;
    margin: 5px 1rem 30px 1rem;
}

.checked {
    border-style: none;
    display: flex;
    width: 50vw;
    align-items: center;
    flex-wrap: wrap;
    background-color: #795e52b2;
    box-shadow:
    0 0 .7rem #fff,
    0 0 .1rem #fff,
    0 0 .042rem #ff2a00,
    0 0 0.082rem hsl(10, 100%, 50%),
    0 0 0.92rem #ff2a00;
    justify-content: space-between ;
    border-radius: 5px;
    margin: 0.8rem 0.2rem;
    margin-bottom: 0%;
}

.input {
    /* padding: 0.168rem; */
    margin: 0.5rem;
    background-color: #ff2a00;
    display: -webkit-inline-box;
    font-size: auto;
    border-radius: 5px;
    box-shadow:
    0 0 .7rem #fff,
    0 0 .1rem #fff,
    0 0 .042rem #ff2a00,
    0 0 0.082rem #ff2a00,
    0 0 0.92rem #ff2a00;
}

.error{
    font-weight: bold;
    font-size: 1em;
    color: rgb(248, 172, 122);
    text-shadow:
        /* White glow */
        0 0 7px rgb(248, 172, 122),
        0 0 10px rgb(248, 172, 122),
        0 0 42px #ff2a00,
        0 0 82px #ff2a00,
        0 0 92px #ff2a00,
        0 0 102px #ff2a00,
        0 0 151px #ff2a00;
}
.inputtext{
    width: 18rem;
    height: 1.852rem
}

.buttonhome{
    position: absolute;
    background:  #ff2a00;
    /* background: linear-gradient(90deg, rgba(24,132,171,1) 0%, rgba(214,12,58,1) 50%, rgba(250,222,40,1) 100%); */
    box-shadow:
    0 0 .7rem #fff,
    0 0 .1rem #fff,
    0 0 .042rem #ff2a00,
    0 0 0.082rem #ff2a00,
    0 0 0.92rem #ff2a00;
    border-radius: 10px;
    border-style: none;
    font-family:'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer; 
    font-size: 15px;
    width: 6em;
    height: 2rem;
    text-align: center;
    margin-top: .55rem;
    top: 10px;
    left: 6em;
    
}
.buttonsubmit{
    position: absolute;
    background:  #ff2a00;
    /* background: linear-gradient(90deg, rgba(24,132,171,1) 0%, rgba(214,12,58,1) 50%, rgba(250,222,40,1) 100%); */
    box-shadow:
    0 0 .7rem #fff,
    0 0 .1rem #fff,
    0 0 .042rem #ff2a00,
    0 0 0.082rem #ff2a00,
    0 0 0.92rem #ff2a00;
    border-radius: 10px;
    border-style: none;
    font-family:'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer; 
    font-size: 15px;
    width: 6em;
    height: 2rem;
    text-align: center;
    margin-top: .55rem;
    top: 10px;
    right: 6em;
}

.labelch{
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(218, 255, 212);
    text-shadow:
        /* White glow */
        0 0 .042rem #ff2a00,
        0 0 0.082rem #ff2a00,
        0 0 0.092rem #ff2a00,
        0 0 0.192rem #ff2a00,
        0 0 1.51rem #ff2a00;
}