.layout{
    display: flex;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 8rem;
    position: relative;
}
.image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.block{
  position: absolute;
    height: 100vh;
    width: 100%;
    border-radius: 5px ;
    background-color: #ffffff01;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(12px);
}
.title{
    position: absolute;
    padding: 2em;
    
    /* color: rgb(191, 152, 253); */
    color: rgb(152, 216, 253);
    text-shadow:
    /* 0 0 7px rgb(191, 152, 253), */
    /* 0 0 10px rgb(191, 152, 253), */
    0 0 7px rgb(152, 216, 253),
    0 0 10px rgb(152, 216, 253),
    0 0 82px #C33113,
    0 0 92px #ff2a00,
    0 0 102px #ff2a00,
    0 0 151px #ff2a00;

}

.button {
  background: rgb(24,132,171);
  background: linear-gradient(90deg, rgba(24,132,171,1) 0%, rgba(214,12,58,1) 50%, rgba(250,222,40,1) 100%);
  border-radius: 10px;
  border-style: none;
  font-family:'Montserrat', sans-serif;
  color: #fff;
  cursor: pointer; 
  font-size: 15px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 20em;
  left: 20rem;
  transition: all .5s ease;
}

.button:hover{
    background: #ffffff60;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

@media (min-width: 768px) {
  .button {
    padding: 14px 22px;
    width: 176px;
  }
} 

.myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
    position: relative;
}