.form{
    padding-bottom: 1em;
    /* position: relative; */
    display: flex;
}
.button{
    /* position: absolute; */
    background: #ff2a00;
    box-shadow:
      0 0 .7rem #fff,
      0 0 .1rem #fff,
      0 0 .042rem #ff2a00,
      0 0 0.082rem #ff2a00,
      0 0 0.92rem #ff2a00;
    border-radius: 10px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    width: 6em;
    height: 2rem;
    text-align: center;
    /* padding-inline: 1 em ; */
    /* margin-top: .55rem; */
    /* top: 0.4rem; */
    /* left: 1em; */
}
.SearchBar{
    width: 100%;
    height: 2rem;
    border-style: none;
    border-radius: 8px;
    padding-inline-start: 1em;
    margin-right: 1em;
}

.search_box{
    position: absolute;
    top: 2rem;
    left: 45em;
    transform: translate(-50%, -50%);
    height: 60px;
    background: #ffffff10;
    line-height: 40px;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    -webkit-transation: width .2s;
}

.search_input{
    background: #ffffff10;
    color: #fff;
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.7s ease;
}

.search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #ffffff10;
    padding: 12px;
    border-radius: 50%;
    float: right;
    /* color: #22ffc0; */
    transition: 0.4s ease;
    border: 0;
    cursor: pointer;
}

.search_box:hover > .search_input, 
.search_input:focus{
    
    width: calc(13.5em - 15px);
    margin: 0px 0px;
}

.search_box:hover > .search_btn, 
.search_input:focus + .search_btn{
    /* background: #22ffc0; */
    background: #ff2a00;
    box-shadow:
      0 0 .7rem #fff,
      0 0 .1rem #fff,
      0 0 .042rem #ff2a00,
      0 0 0.082rem #ff2a00,
      0 0 0.92rem #ff2a00;
    color: #101010;
}

.fas{
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    line-height:1;
    text-rendering:auto;
    height: 1em;
    line-height: 1em;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/></svg>");
}
